.eq {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 4rem;
    padding: 6rem 3.2rem;

    .title {
        min-width: 20rem;
        flex-grow: 1;

        font-size: 2rem;
        color: #171717;
    }

    .para {
        font-size: 1.2rem;
        color: #636363;
        line-height: 2rem;
    }
}
