.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem;
    height: 100vh;

    .para1 {
        // TITLE
        font-size: 1.2rem;
        font-weight: 500;
        color: #171717;
        text-align: center;
    }

    .para2 {
        // HEADING
        font-size: 1.8rem;
        font-weight: 700;
        color: #171717;
        text-align: center;
    }

    .para3 {
        // SUBHEADING
        font-size: 1.2rem;
        font-weight: 600;
        color: #636363;
        max-width: 70%;
        text-align: center;
        line-height: 2rem;
    }

    .para4 {
        margin: 0.8rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: #171717;
        max-width: 70%;
        text-align: center;

        span {
            font-family: "Dancing Script", "Helvetica Neue", cursive;
            font-size: 2rem;
            color: #171717;
        }
    }

    .para5 {
        margin-top: 0.4rem;
        font-size: 0.8rem;
        font-weight: 400;
        color: #636363;
        max-width: 70%;
        text-align: center;
    }
}
