.meet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 4rem;
    gap: 4rem;
    background-color: #fef7f1;
    border-radius: 2.8rem;
    position: relative;
    overflow: hidden;
    margin: 4rem 0;

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 0.6rem;

        p {
            font-size: 1.2rem;
            font-weight: 400;
        }

        h1 {
            font-size: 2.8rem;
            font-weight: 700;
            margin: 0;
        }
    }

    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .content {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2rem;
            color: #636363;
            min-height: 16rem;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 45%;
            z-index: 1;
            height: 100%;
        }
    }

    .circle1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        background-color: #fbe3d2;
        position: absolute;
        top: 65%;
        left: 2%;
        transform: translate(-50%, -50%);
    }

    .circle2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #f3c7c8;
        position: absolute;
        bottom: 35%;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    .leaf1 {
        position: absolute;
        bottom: 26%;
        left: 29%;
        z-index: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0 100px;
        background-color: #75c699;
        transform: rotate(0deg);
    }

    .leaf2 {
        position: absolute;
        top: 12%;
        right: 12%;
        z-index: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0 100px;
        background-color: #75c699;
        transform: rotate(0deg);
    }

    .img {
        position: absolute;

        left: 11%;
        top: 41%;
        height: 10rem;
        width: 10rem;
        z-index: 300;

        padding: 0.8rem;
        border-radius: 50%;
        background-color: #fff;

        // SET OUTLINE WIDTH AND COLOR
        outline: 1rem solid #f6f6f6;

        .ghost {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #f7d4bc;
        position: absolute;
        bottom: 15%;
        left: 27%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;

        .inside_dot {
            width: 1rem;
            height: 1rem;
            background-color: #eb695b;
            border-radius: 50%;
        }
    }
}
