.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.8rem;
    padding: 2rem 3.2rem;
    background-color: #eeebfe;
    border-radius: 2.8rem;

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .tag_line {
            font-size: 1.2rem;
            font-weight: 600;
            color: #222222;
            margin-bottom: 0.8rem;
        }

        .title {
            font-size: 3.8rem;
            color: #171717;
        }

        .action {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            .ratings {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.32rem;

                p {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #222222;
                }
            }
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .hero {
            height: 100%;
            width: 100%;
            object-fit: contain;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon1 {
            position: absolute;
            top: 5rem;
            left: 0.5rem;
            transform: translate(-50%, -50%);
            z-index: 1;
            height: 8rem;
            width: 8rem;
            object-fit: contain;

            // TILT WITH SOME ANGLE
            transform: rotate(-8deg);
        }

        .icon2 {
            position: absolute;
            top: 14rem;
            right: -2rem;
            z-index: 1;
            height: 8rem;
            width: 8rem;
            object-fit: contain;

            // TILT WITH SOME ANGLE
            transform: rotate(10deg);
        }

        .icon3 {
            height: 8rem;
            width: 8rem;
            object-fit: contain;
            position: absolute;
            bottom: 5rem;
            left: 2rem;
            // TILT WITH SOME ANGLE
            transform: rotate(-5deg);
            z-index: 1;
        }

        .icon1,
        .icon2,
        .icon3 {
            .icon {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1.6rem;

        .content {
            align-items: center;
            text-align: center;
            gap: 1rem;
        }

        .img {
            width: 100%;
            height: 30rem;
        }
    }
}
