.vacancy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    padding: 4rem;
    height: 30rem;

    .title {
        font-size: 2.8rem;
        font-weight: 700;
        width: 100%;
    }

    .body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.6rem;
        background-color: #fff;
        border-radius: 1.6rem;
        width: 100%;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.6rem;
            background-color: #fff;
            border-radius: 1.6rem;
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .vacancy {
        padding: 2rem;
        height: 100%;
        gap: 1.6rem;
    }

    .title {
        font-size: 2rem;
    }

    .body {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        padding: 2rem;
        width: 100%;

        .container {
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
            width: 100%;
        }
    }
}
