.emoji {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.6rem 1.6rem;
    gap: 0.6rem;
    min-width: 20rem;
    border-radius: 2rem;
    width: 100%;

    // animation: scroll 8s linear infinite;

    // @keyframes scroll {
    //     0% {
    //         transform: translateX(100%);
    //     }
    //     100% {
    //         transform: translateX(-100%);
    //     }
    // }

    span {
        font-size: 3.2rem;
        text-align: center;
        margin-bottom: 0.8rem;
    }

    h1 {
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.4rem;
    }
}

.text {
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.6rem 1.6rem;
    gap: 0.8rem;
    background-color: #fff;
    border-radius: 1.6rem;

    h1 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
        color: #636363;
    }
}

.bullet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 2rem;
    border-radius: 1.6rem;
    background-color: #fefbec;
    cursor: pointer;

    h1 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    ul {
        // SET HEIGHT
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        list-style: none;
    }

    .btn {
        display: none;
    }

    // ON HOVER SHOW BTN WITH SMOOTH ANIMATION ON WHOLE CARD
    &:hover {
        .btn {
            display: flex;
        }
    }
}
