@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // HIDE CURSOR
  // cursor: none;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #171717;

  font-family: "Euclid Circular B", sans-serif;
}
