.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 3.2rem;
    width: 100%;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        width: 3rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.4rem;
        }
    }

    .menus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;

        a {
            text-decoration: none;
            color: #000;
            font-size: 1rem;
        }
    }
}
